@use "../globals/variables" as *;
@use "../globals/colors" as *;

.header {
  width: 100%;
  background-color: $white;
  margin: 0 auto;
  padding: 1rem 1rem 2rem;
}

.nav_list-link {
  position: relative;
  color: $heading-text-color;
  font-weight: bold;
  transition: $transition-3ms;

  &:not(:last-of-type):after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    right: -15px;
    bottom: 30%;
    background-color: #dfceae;
    border-radius: 3px;
  }
}

.nav_list-link:hover {
  color: rgb(75, 75, 75);
}

.social_links p {
  color: $heading-text-color;
  font-size: 14px;
}

.nav_list-item {
  font-weight: bold;
}

.nav_list-item a {
  color: $heading-text-color;
}
