@use "../globals/variables" as *;
@use "../globals/colors" as *;

.hero_section {
  background-image: url("../../assets/header-img.webp");
  background-size: cover;
  height: 400px;
}

.hero_section-title {
  max-width: $max_width;
  margin: 0 auto;
}
