@use "../globals/variables" as *;
@use "../globals/colors" as *;

.hero_section {
  background-image: url("../../assets/header-img.webp");
  background-size: cover;
  height: 620px;
  padding: 0 1rem;

  .hero_section-title {
    max-width: $max_width;
    margin: 0 auto;
  }

  .hero_heading {
    color: $white;
    padding-top: 10.25rem;
    font-size: 3.125rem;
    width: 500px;
    font-family: RobotoSlab;
    font-weight: 700;
  }

  .hero_heading span {
    font-weight: 300;
  }
}

.hero_button-container {
  margin-top: 2rem;

  a {
    color: $white;
    font-weight: bold;
  }

  &:hover {
    color: $white;
  }
}

.play_button {
  border: none;
  background-color: $button_green;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: white;

  img {
    margin-left: 16px;
  }
}
