@use "../globals/variables" as *;
@use "../globals/colors" as *;

.introducing_section {
  background-image: url("../../../assets/texture2.png");
  height: 100%;
}

.introducing_container {
  max-width: $max_width;
  margin: 0 auto;
  margin-top: 5.2rem;
}

.introducing_quote-containre {
  max-width: 570px;
  text-align: center;
  margin: 0 auto;

  .quote {
    font-size: 2.5rem;
    font-family: AmaticSC;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    font-weight: bold;
  }
}

.introducing_content-container {
  position: relative;
  background-image: url("../../../assets/shape.svg");
  background-repeat: no-repeat;
  padding: 2.5rem;
  margin-top: 9.25rem;
  margin-bottom: 6.25rem;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 81px;
    height: 68px;
    right: 130px;
    background-image: url("../../../assets/quote.svg");
    background-repeat: no-repeat;
  }

  .introducing_heading {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: RobotoSlab;
  }

  .introducing_title {
    font-size: 1rem;
    line-height: 1.63;
    margin: 1.3rem 0;
  }

  .introducing_title span {
    font-weight: bold;
  }
}
