@use "../globals/variables" as *;
@use "../globals/colors" as *;

.primary_btn {
  background-image: url("../../../assets/button-shape.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: $white;
  font-weight: bold;
  padding: 1.25rem;
  text-transform: uppercase;
}

.cotainer {
  max-width: $max_width;
  margin: 0 auto;
}
