@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Ubuntu:wght@300;400&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", serif;
  text-rendering: optimizeSpeed;
  margin: 0 auto;
}

h1 {
  font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
}

h2 {
  font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  font-size: 1rem;
  margin-bottom: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0 !important;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

p {
  color: var(--text-color);
}

.primary_btn {
  background-image: url("../../../assets/button-shape.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: hsl(0deg, 0%, 100%);
  font-weight: bold;
  padding: 1.25rem;
  text-transform: uppercase;
}

.cotainer {
  max-width: 1140px;
  margin: 0 auto;
}

.hero_section {
  background-image: url("../../assets/header-img.webp");
  background-size: cover;
  height: 620px;
  padding: 0 1rem;
}
.hero_section .hero_section-title {
  max-width: 1140px;
  margin: 0 auto;
}
.hero_section .hero_heading {
  color: hsl(0deg, 0%, 100%);
  padding-top: 10.25rem;
  font-size: 3.125rem;
  width: 500px;
  font-family: RobotoSlab;
  font-weight: 700;
}
.hero_section .hero_heading span {
  font-weight: 300;
}

.hero_button-container {
  margin-top: 2rem;
}
.hero_button-container a {
  color: hsl(0deg, 0%, 100%);
  font-weight: bold;
}
.hero_button-container:hover {
  color: hsl(0deg, 0%, 100%);
}

.play_button {
  border: none;
  background-color: hsl(129deg, 37%, 58%);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: white;
}
.play_button img {
  margin-left: 16px;
}

.header {
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
  margin: 0 auto;
  padding: 1rem 1rem 2rem;
}

.nav_list-link {
  color: hsl(0deg, 0%, 13%);
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.nav_list-link:hover {
  color: rgb(75, 75, 75);
}

.social_links p {
  color: hsl(0deg, 0%, 13%);
  font-size: 14px;
}

.nav_list-item {
  font-weight: bold;
}

.nav_list-item a {
  color: hsl(0deg, 0%, 13%);
}

.introducing_section {
  background-image: url("../../../assets/texture2.png");
  height: 100%;
}

.introducing_container {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 5.2rem;
}

.introducing_quote-containre {
  max-width: 570px;
  text-align: center;
  margin: 0 auto;
}
.introducing_quote-containre .quote {
  font-size: 2.5rem;
  font-family: AmaticSC;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  margin-bottom: 1rem;
}
.introducing_quote-containre p {
  font-size: 1rem;
  font-weight: bold;
}

.introducing_content-container {
  position: relative;
  background-image: url("../../../assets/shape.svg");
  background-repeat: no-repeat;
  padding: 2.5rem;
  margin-top: 9.25rem;
  margin-bottom: 6.25rem;
}
.introducing_content-container::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 81px;
  height: 68px;
  right: 130px;
  background-image: url("../../../assets/quote.svg");
  background-repeat: no-repeat;
}
.introducing_content-container .introducing_heading {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: RobotoSlab;
}
.introducing_content-container .introducing_title {
  font-size: 1rem;
  line-height: 1.63;
  margin: 1.3rem 0;
}
.introducing_content-container .introducing_title span {
  font-weight: bold;
}

.footer {
  background-image: url("../../../assets/texture3.png");
  height: 400px;
}

.slider_section {
  background-image: url("../../../assets/slider-termekoldal.webp");
  background-size: cover;
  height: 620px;
}
.slider_section .slider_heading {
  color: hsl(0deg, 0%, 100%);
  padding-top: 10.25rem;
  line-height: 1.2;
  font-size: 3.125rem;
  width: 400px;
  font-family: RobotoSlab;
  font-weight: 700;
  margin-bottom: 1.875rem;
}

.slider_section {
  background-image: url("../../../assets/slider-termekoldal.webp");
  background-size: cover;
  height: 620px;
}
.slider_section .slider_heading {
  color: hsl(0deg, 0%, 100%);
  padding-top: 10.25rem;
  line-height: 1.2;
  font-size: 3.125rem;
  width: 400px;
  font-family: RobotoSlab;
  font-weight: 700;
  margin-bottom: 1.875rem;
}/*# sourceMappingURL=style.css.map */